body {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #C3195D;
  }
  
  .valentinesCard {
    position: relative;
    width: 300px;
    height:450px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
  }
  
  .valentinesCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
  }
  
  .valentinesCard:hover .cardFront {
    transform: rotateY(-160deg); 
  }
  
  .valentinesCard:hover .happy {
    visibility:hidden; 
  }

  .cardFront img {
    max-width: 80%; 
    height: auto; 
    margin-top: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    position: absolute; 
    bottom: 20px; 
    left: 0; 
    right: 0; 
}
  
  .cardFront {
    position: relative;
    background-color: #F4ABC4;
    width: 300px;
    height:450px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 30px 0 50px rgba(0,0,0,0.4);
    transition: .6s;
  }
  
  .happy {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin:30px; 
    transition: .1s;
  }
  
  
  .cardInside {
    position: absolute;
    background-color: #F4ABC4;
    width: 300px;
    height:450px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
  }

  
  p {
    font-family: 'Brush Script MT', cursive;
    margin: 40px;
    color: #333;
  }
  
  .cardInside .name {
    position: absolute;
    left:50%;
    bottom:20px;
    color: #333;
    transform: translateX(-50%);
  }
  
  .back {
    font-family: Tahoma, sans-serif;
    color: #333;
    text-align: center;
    margin:30px; 
    outline-color:#333;
    outline-style: dotted;
  }

  .cardFront .back-image {
    display: none;
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 90%; 
    height: auto; 
}

.valentinesCard:hover .cardFront .front-image {
    display: none; 
}

.valentinesCard:hover .cardFront .back-image {
    display: block; 
}

.heart {
  position: absolute;
  font-size: 24px;
  animation: fall linear infinite;
  top: 0%;
}
@keyframes fall {
  to {
      transform: translateY(100vh);
  }
}